<!DOCTYPE html>
<html>
<head>
	<title>edit mahasiswa</title>
	<link rel="stylesheet" href="/asset/css/bootstrap.min.css">
	<script src="/asset/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
	{{#each result}}
<form method="POST" action="/mahasiswa/update/{{ id_mahasiswa }}">
	<div class="form-group">
		<label>Nama Mahasiswa</label>
		<input type="text" class="form-control" name="nama" value="{{ nama }}" placeholder="nama">
	</div>
	<div class="form-group">
		<label>Nomor Pokok Mahasiswa</label>
		<input type="text" class="form-control" name="npm" value="{{ npm }}" placeholder="npm">
	</div>
	<div class="form-group">
		<label>Program Studi</label>
		<input type="text" class="form-control" name="id_prodi" value="{{ id_prodi }}" placeholder="prodi">
	</div>
	<button type="submit" class="btn btn-primary">Update</button>
	<a href="/" class="btn btn-default">Kembali</a>
</form>
{{/each}}
</div>
</body>
</html>